{{! Footer social links }}
<button class="mdl-mini-footer--social-btn social-btn social-btn__twitter" onclick="window.location='http://www.twitter.com'"></button>
<button class="mdl-mini-footer--social-btn social-btn social-btn__facebook" onclick="window.location='http://www.facebook.com'"></button>
<button class="mdl-mini-footer--social-btn social-btn social-btn__gplus" onclick="window.location='http://www.googleplus.com'"></button>