			   <footer class="mdl-mini-footer">
          		<div class="mdl-mini-footer--left-section">
            		{{> footer-social}}
          		</div>
          		<div class="mdl-mini-footer--right-section">
            		{{> copyright}}
          		</div>
        	</footer>
      
      	</main>
      	<div class="mdl-layout__obfuscator"></div>
    </div>

  {{ghost_foot}}

  <script src="{{asset "js/material.min.js"}}"></script>
	<script src="{{asset "js/jquery.fitvids.js"}}"></script>
	<script src="{{asset "js/main.js"}}"></script>

</body>
</html>