{{! Header }}
{{#is "post, page, author, tag"}}
<div class="demo-back">
  <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="/">
    <i class="material-icons">arrow_back</i>
  </a>
</div>
{{/is}}