<ul class="nav mdl-menu mdl-js-menu mdl-menu--top-right fab-main-menu" for="fab-main">
    {{#foreach navigation}}
    <a href="{{url absolute="true"}}" class="mdl-menu__item mdl-js-ripple-effect">{{label}}</a>
    {{/foreach}}
</ul>